# editors
.vscode
*.vim

# cache
cache/

# build 
build/
*.egg-info/
__pycache__

# Ignore results
results/

# Ignore SQLite database files
*.sqlite
*.db

# Ignore R user files
.Rproj.user
.Rhistory
.RData


*.html

# occasional write to default Rplots.pdf out to be ignored
Rplots.pdf

# logs
*.log


R/savedir/
